.wrap {
width:1020px;
}

#left {
float:left;
width:400px;
height:390px;
padding:10px;
background:#f9f9f9;
overflow:auto;

}
#right {
position:relative;    
float:right;
width:600px;
border-width:1px;
/*background:#f5f5f5;*/
}

#myDrawing1{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    
}

#myDrawing{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    
}


