#page-container {
    width:1000px;
    margin:auto; 
}

#header{    
}

#content {
    display:none;
    position:relative;
}

#content-menu{
    float:right;
}

#content-left{
    clear:both;
    float:left;
    width:400px;
    height:400px;
    background:#f9f9f9;
    overflow:auto;
}

#content-right{
    position:relative;  
    float:right;
    width:600px;    
}

#footer{
    clear:both;
}

#myDrawing{
    position:absolute;
    top:0;
    left:0;
    z-index: 1;    
    background:#f5f5f5;
}

#myDrawing1{
    position:absolute;
    top:0;
    left:0;
    z-index: 0;    
}


